h2 Professional Game Results & Schedule
p
  |See JSA original data at: 
  = link_to('http://www.shogi.or.jp/kisen/week/yotei.html','http://www.shogi.or.jp/kisen/week/yotei.html',target:'_blank')

= render :partial => 'list', :locals => { :games => @games}

javascript:
  function setPreview(){
    xOffset = 10;
    yOffset = 165;
                    
    $("a.player_name").hover(function(e){
      $("body").append("<p id='preview'><img src='" + this.name + "' width='105'/></p>");
      $("#preview")
      .css("top",(e.pageY - yOffset ) + "px")
      .css("left",(e.pageX + xOffset ) + "px")
      .fadeIn("slow");
    },
    function(){
      $("#preview").remove();
    }); 
    $("a.player_name").click(function(e){
      $("#preview").remove();
    });

    $("a.player_name").mousemove(function(e){
      $("#preview")
      .css("top",(e.pageY - yOffset) + "px")
      .css("left",(e.pageX + xOffset) + "px");
      });     
    };

  $(function(){
    setPreview();
  });
