// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.news {
  border-bottom: 1px solid #bbb;
  padding: 10px;
}

div.news_content {
  border-top: 1px solid #bbb;
  padding: 15px 20px;
  width: 90%;
}

table.news_backyard {
  margin-right:15px;
  td {
    padding: 2px 2px;
  }
}
