// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.access_all {
  background-color: #cfc;
}
td.access_member {
  background-color: #ffa;
}
td.access_admin {
  background-color: #fcc;
}
ul.updates {
  margin-left: 40px;
}
ul.updates li {
  list-style-type: none;
}
li.more {
  padding-top: 6px;
  font-size: 12px;
}
