// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.profile_photo {
  text-align: center;
  width: 210px;
  height: 280px;
  overflow: hidden;
  border:3px ridge #db8;
  box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 6px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 6px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 6px 0px;
}

a.player_name {
  text-decoration: none;
}

#preview {
  width: 105px;
  height: 130px;
  overflow: hidden;
  position: absolute;
  background: white;
  padding: 0px;
  display: none;
  text-align: center;
  vertical-align: middle;
  border:3px ridge #aaa;
  box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 6px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 6px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.5) 3px 3px 6px 0px;
}

div.families {
  margin-left: -10px;
  padding-left: 0;
}
div.families ul {
  margin-bottom: 5px;
}
div.families li {
  margin-left: 10px;
}
